@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding-top: 70px;
}

.title {
    font-size: 2.8rem;
}

.titleH2 {
    font-size: 1.8rem;
}

.title,
.titleH2 {
    letter-spacing: 1.5px;
    font-weight: 900;
    text-shadow: 2px 3px 0 #898999;
    text-align: center;
}

.text {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    /* text-shadow: 2px 3px 0 #898999; */
    text-align: justify;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 2rem;
    }
    
    .titleH2 {
        font-size: 1.4rem;
    }

    .text {
        font-size: 1rem;
    }
}
/* global styles end  */



/* header  */
.cover {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "nav"
        "content";
    min-height: 100vh;
    align-items: center;
    background-image: linear-gradient(to bottom, #008c89, #009f88, #07b17c, #48c168, #7bcf4b, #7bcf4b, #7bcf4b, #7bcf4b, #48c168, #07b17c, #009f88, #008c89);
    color: #fff;
}


/* navbar web */
.navbar-area {
    grid-area: nav;
    display: block;
    width: 100%;
    min-height: 60px;
    position: fixed;
    top: 0;
    z-index: 1020;
    background: rgba(0, 0, 0, 0.6);
}

/* nav */
.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.site-logo img {
    min-width: 150px;
    max-width: 200px;
    min-height: 50px;
    height: auto;
}
/*  logo end */

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

.site-navbar ul li a:hover {
    background: rgba(255, 255, 255, .1);
}
/* navbar web end */


/* nav-toggler mobile version only */
.nav-toggler {
    border: transparent;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler mobile version only end */


@media screen and (max-width: 767px) {
    /* navbar mobile */
    .nav-toggler {
        display: block;
    }

    .site-navbar {
        min-height: 60px;
        margin: 0 15px;
    }

    .site-navbar ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, .75);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }

    .site-navbar ul li {
        width: 100%;
        text-align: center;
    }

    .site-navbar ul li a {
        padding: 25px;
    }

    .site-navbar ul li a:hover {
        background-color: rgba(255, 255, 255, .1);
    }

    .site-navbar ul.open {
        max-height: 100vh;
        overflow: visible;
    }
    /* navbar mobile end */
}
/*  navbar end */

.coverMain {
    grid-area: content;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 10px;
}

.coverTitle {
    font-size: 3rem;
    letter-spacing: 1.5px;
}

.coverSubtitle {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: 2px 3px 0 #898999;
}

.coverImg {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .coverMain {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }

    .coverTitle {
        font-size: 2.2rem;
        letter-spacing: 1px;
    }

    .coverPicture {
        grid-row: 1 / 2;
    }

    .coverImg {
        max-width: 500px;
        display: block;
        margin: auto;
    }
}

/* header end */


/* Information */
.info {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "whatIs"
        "whenIs"
        "objective";
    min-height: 100vh;
    align-items: center;
    background: #008c89;
    color: #fff;
}

.whatIs {
    grid-area: whatIs;
}

.whenIs {
    grid-area: whenIs;
}

.objective {
    grid-area: objective;
}

.infoCard {
    display: flex;
    flex-direction: row;
}

.infoCard .Img {
    width: 100%;
}

.bottom {
    background-image: linear-gradient(to bottom, #008c89, #97bacf, #f0f0f0);
    min-height: 10px;
}

@media screen and (max-width: 768px) {

    .whatIs,
    .objective {
        flex-direction: column;
    }

    .whenIs {
        flex-direction: column-reverse;
    }

    .bottom {
        min-height: 100px;
    }
}

/* Information end */



/* Prizes */
.prizes {
    text-align: center;
    min-height: 50vh;
    background: #f0f0f0;
    margin: auto;
}

.prizesList {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    color: #000;
}


.prizesCard {
    background: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.prizesCard .Img {
    width: 80%;
}

.prizesCard .text {
    padding: 10px;
    width: 100%;
}

.prizesCard .list {
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .prizesList {
        grid-template-columns: 1fr;
    }
}
/* prizes end */


/* Companies */
.companies {
    text-align: center;
    min-height: 50vh;
    background: #f0f0f0;
    margin: auto;
    padding-top: 50px;
}

.companiesList {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    color: #000;
}


.companiesCard {
    background: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: -webkit-fill-available;
    padding-bottom: 30px;
}

.companiesCard .Img {
    width: 80%;
}

.companiesCard .text {
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .companiesList {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        min-height: max-content;
    }
}


@media screen and (max-width: 768px) {
    .companiesList {
        grid-template-columns: 1fr;
        min-height: max-content;
    }

    .prizesCard .list {
        text-align: center;
    }
}
/* Companies end */



/* Register form */
.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    min-height: 90vh;

    background: #C3DC00;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    gap: 1rem;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.formImg {
    grid-column: 1 / 2;
}

.formImg .Img {
    width: 100%;
}

.formFields {
    grid-column: 2 / -1;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    color: #000;
}

.fields {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input {
    width: 100%;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #000000;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus, .input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #ffffff;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;

    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;

    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 0.25rem;
}

.button:hover {
    border-radius: 1rem;
}

.button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.button:hover span {
    transform: translateX(7px);
}


@media screen and (max-width: 768px) {
    .form {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0;
    }

    .formImg {
        grid-column: 1 / 2;
        width: 70%;
    }

    .formFields {
        grid-column: 2 / -1;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 70%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        min-height: 100vh;
    }

    .form {
        grid-template-columns: 1fr;
    }

    .formImg {
        grid-column: 1 / -1;
        width: 70%;
    }

    .formFields {
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 70%;
        padding-bottom: 20px;
    }
}
/* Register form end */


/* Footer */
.footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    background: #000;
    color: #fff;
}

.footer .copyRight {
    padding: 20px 0;
    text-align: center;
}

.footer .freepik {
    color: #fff;
    text-decoration: none;
}

.footer .copyRight .text {
    text-align: center;
    text-shadow: none;
}
/* footer end */